@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-color: #ffffff;
    font-family: 'Montserrat';
    margin-left: 10%;
    margin-right: 10%;
    padding: auto;
}
.small-menu {
    margin-top: 10%;
    border-bottom: 1px solid #031A62;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 2%;
    list-style: none;
    margin-right: 2%;
    padding: 0;
}
li a{
    text-decoration: none;
    color: rgb(3, 26, 98, 0.5);
    font-weight: 600;
}
li a:active{
   color: #031A62; 
}
h1{
    color: #031A62;
}
.activities-part1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.activities-part2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
}
.second-baner{
   background-color: #0924740f;
   border-radius: 60px;
   width: 1280px;
   height: 300px;
   align-items: center;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-left: 5.5%;
   margin-bottom: 3%;
}
.left-s{
    margin-left: 5%;
}
.right-s{
    margin-right: 5%;
}
.right-s h2 {
    font-size: 32px;
    color: #031A62;
}
.border{
    width: 1px;
    max-width: 100%;
    height: 200px;
    max-height: 100%;
    position: relative;
    background-color: #031A62;
}
.btn{
    border-radius: 15px;
    background-color: #ff8700;
    font-size: 24px;
    padding: 3%;
    color: #ffffff;
    border: 1px solid white;
}
.btn a {
    text-decoration: none;
    color: #ffffff;
}
@media screen and (max-width: 768px){
    .small-menu ul {
       flex-direction: column;
       align-items: center;
       padding: 1%;
    }
    h1{
        text-align: center;
    }
    .activities-part1{
        flex-direction: column;
        width: 100%;
    }
    .activities-part2{
        flex-direction: column;
        width: 100%;
        margin-bottom: 5%;
    }
    .second-baner{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
        margin: 0;
    }
    .left-s img{
        width: 90%;
    }
    .right-s{
        width: 90%;
    }
    .border{
        height: 1px;
        width: 300px;
    }
}






/* TOP NAV BAR STYLE */


body {
    margin: 0;
    padding: 0;
}


main {
    width: 80%;
    margin: auto;
}


header {
    /* gap: 0; */
    display: flex;
    flex-direction: column;
    gap: 0;
}

nav {
    width: 100%;
    height: 130px;
    background-color: #031A62;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
  }
  
  #logo-section{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #logo-image{
    margin-right:30px;
  }
  
  
  #main-page-navbar-upper-row-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
  
  }
  
  
  #main-page-navbar-upper-row-links a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 30px;
  }
  
  #main-nav-second-row{
    height: 60%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #main-nav-logo-section{
    width: 30%;
    max-height: 46px;
    display: flex;
    justify-content: center;
    /* border-right: medium, solid, #00A3FF; */
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: #00A3FF;
  }
  
  #main-nav-logo{
    margin-right: 15px;
  }
  
  #main-page-navbar-lower-row-links{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
  }
  #lower-links{
    margin-top: 20px;
  }
  
  .dropdown a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
  }
  
  .dropdown{
    position: relative;
    display: inline-block;
    margin-top: 5px;
    padding: 7px 15px;
    /* background-color: #00A3FF; */
  }
  
  .dropdown-content{
  position: absolute;
  display: none;
  min-width: 160px;
  }
  
  .dropdown-content a{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #031A62;
  }
  
  .dropdown:hover .dropdown-content{
    display: block;
  }
  
  a:hover {
    color: #FF8700;
  }
  
  #main-page-navbar-upper-row-links a:hover{
    color: #FF8700;
  }

  .right-s button:hover {
    background-color: #f7a446;
  }

  .right-s button a:hover{
    color: aliceblue !important;
  }


  /* BANNER STYLE*/

  #hero-banner{
    margin: auto;
    width: 100%;
    position: relative;
    top: -70px;
    
    
  }

  .bannerImage img {
    width: 100%;
    height: auto;
    filter: brightness(-3)
    }
    
    .bannerImage {
    position: relative;
    width: 100%;
    margin: auto;
    /* background-color: #031A62; */
    /* padding-bottom: 100px; */
    

    }
    
    .bannerImage h1{
    position: absolute;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 72px;
    left: 32%;
    top: 67%;
    color: white; 
    }

    .bannerImage h4{
        position: absolute;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 18px;
        top: 65%;
        left: 38.7%;
        color: white;
    }

    .bannerImage h2{
        position: absolute;
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-size: 40px;
        top: 77%;
        left: 26%;
        color: #FF8700;
    }



    .mini-banerino {
        height: 80%;
    }




    /*  FOOTER STYLE*/

footer {
    background-color: #031A62;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    color:aliceblue;
    margin-top: 150px;
    
}

#upper-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer-big-text {
    width: 30%;
    margin: 0 50px;
}

#footer-column-links {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    text-decoration: none;
    width: 70%;
    justify-content: space-around;
}
.footer-link-columns {
    color: aliceblue;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.footer-link-columns a{
    color: aliceblue;
    text-decoration: none;
   
}

#lower-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#lower-footer div {
    margin: 20px 50px;

    /* align-items: flex-end; */
}
#footer-icons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-end;
}
#footer-icons a img {
    width: 40px;
    height: auto;
}

#top-page-button {
    display: flex;
    align-items: flex-end;
}

#copyright-information {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}