@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    
    font-family: 'Montserrat';
    margin: auto;
    /* padding: auto; */
    /* background-color: #031b626e; */
    
}




main {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    background-color: #ffffff;
}
h1{
    font-size: 40px;
    color: #031A62;
    margin-top: 10px;
    margin-left: 90px;

}
.misija{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.ms{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 50px;
}
h5{
    font-size: 24px;
    color: #FF8700;
}
h2{
    font-size: 40px;
    color: #031A62;
}
p {
    font-size: 20px;
}
.slika1{
    margin-left: 200px;
    margin-top: 10px;
}
.slika1 img{
    display: flex;
    flex-direction: row;
}
.vizija{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
}
.slika2{
    margin-left: 30px;
    margin-bottom: 50px;
}
.slika2 img {
    display: flex;
    flex-direction: row;
    
}
.vizija1 h2{
    font-size: 40px;
    color: #031A62;
}
.vizija1 {
    margin-top: 150px;
    margin-left: 170px;
}
.istorijat {
    margin-top: 10px;
    margin-left: 90px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.h55{
  margin-left: 90px;
}
.btn-slika{
    margin-left: 170px;
    position: relative;
}
.btn-slika img {
    margin-top: 50px;
}
.btn-slika button {
    position: absolute;
    top: 0;
    left: 0;
    width: 217px;
    height: 70px;
    border: solid 2px #031A62;
    /* outline-offset: -1px; */
    border-radius: 40px;
    background-color: #031a620f;
    margin-top: 70px;
    margin-left: 10px;
    font-size: 24px;
    line-height: 25px;
    font-family: 'Montserrat', 'Helvetica Neue',;
}

.btn-slika button:hover {
    border: solid 2px #FF8700;
}

.btn-slika button:hover a{
    color: #FF8700;
}
.almanah{
    margin-left: 90px;
    display: flex;
    padding-bottom: 200px;
}
.h2alma{
    margin-left: 90px;
    margin-top: 30px;
}
.tekstkraj{
    margin-left: 235px;
}
a{
    text-decoration: none;
    color: #031A62;
}
@media screen and (max-width: 768px){
    body{
        margin-left: 16px;
        align-items: center;
    }
    h1 {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-left: 40px;
    }
    .misija{
        flex-direction: column;
        width: 100%;
        margin-left: 16px;
    }
    .slika1{
        margin: 0;
    }
    .slika1 img{
        flex-direction: column;
        width: 90%;
        margin-right: 30px;
    }
    .vizija{
        flex-direction: column;
        margin: 0;
        margin-left: 15px;
        width: 95%;
    }
    .slika2{
        margin: 0;
        
    }
   .slika2 img{
    margin-top: 10px;
    width: 95%;
   }
   .vizija1{
    margin: 0;
    width: 100%;
    margin-left: 27.5px;
    margin-right: 20px;
   }
   .vizija1 p {
    margin-right: 35px;
   }
   .h55 {
    margin: 0;
    margin-left: 20px;
   }
   .istorijat{
    flex-direction: column;
    margin: 0;
    margin-left: 40px;
    margin-right: 20px;
   }
   .tekstist1 p {
    margin-right: 15px;
   }
   .btn-slika{
    display: flex;
    flex-direction: column;
    margin: 0;
   }
   .btn-slika img {
    width: 100%;
   }
   .btn-slika .btn{
    width: 44%;
    margin: 0;
    margin-top: 51px;
    height: 64px;
   }
   .h2alma{
    margin: 0;
    margin-left: 35px;
    margin-top: 70px;
    margin-bottom: 10px;
   }
   .almanah{
    flex-direction: column;
    margin: 0;
   }
   .slkraj4 img{
    width: 90%;
    margin-left: 23px;
    margin-top: 50px;
   }
   .tekstkraj h5{
    margin: 0;
    margin-left: 20px;
    margin-top: 40px;
   }
   .tekstkraj{
    margin: 0;
    margin-right: 20px;
    margin-bottom: 100px;
   }
   .tekstkraj h2{
    margin-left: 40px;
   }
   .tekstkraj p{
    margin-left: 40px;
   }
}







/* TOP NAV BAR STYLE */


body {
    margin: 0;
    padding: 0;
}


header {
    /* gap: 0; */
    display: flex;
    flex-direction: column;
    gap: 0;
}

nav {
    width: 100%;
    height: 130px;
    background-color: #031A62;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
  }
  
  #logo-section{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #logo-image{
    margin-right:30px;
  }
  
  
  #main-page-navbar-upper-row-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
  
  }
  
  
  #main-page-navbar-upper-row-links a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 30px;
  }
  
  #main-nav-second-row{
    height: 60%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #main-nav-logo-section{
    width: 30%;
    max-height: 46px;
    display: flex;
    justify-content: center;
    /* border-right: medium, solid, #00A3FF; */
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: #00A3FF;
  }
  
  #main-nav-logo{
    margin-right: 15px;
  }
  
  #main-page-navbar-lower-row-links{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
  }
  #lower-links{
    margin-top: 20px;
  }
  
  .dropdown a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
  }
  
  .dropdown{
    position: relative;
    display: inline-block;
    margin-top: 5px;
    padding: 7px 15px;
    /* background-color: #00A3FF; */
  }
  
  .dropdown-content{
  position: absolute;
  display: none;
  min-width: 160px;
  }
  
  .dropdown-content a{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #031A62;
  }
  
  .dropdown:hover .dropdown-content{
    display: block;
  }
  
  a:hover {
    color: #FF8700;
  }
  
  #main-page-navbar-upper-row-links a:hover{
    color: #FF8700;
  }



  /* BANNER STYLE*/

  #hero-banner{
    margin: auto;
    width: 100%;
    position: relative;
    top: -70px;
    
    
  }

  .bannerImage img {
    width: 100%;
    height: auto;
    filter: brightness(-3)
    }
    
    .bannerImage {
    position: relative;
    width: 100%;
    margin: auto;
    /* background-color: #031A62; */
    /* padding-bottom: 100px; */
    

    }
    
    .bannerImage h1{
    position: absolute;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 72px;
    left: 35%;
    top: 70%;
    color: white; 
    }

    .bannerImage h4{
        position: absolute;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 18px;
        top: 65%;
        left: 38.7%;
        color: white;
    }

    .bannerImage h2{
        position: absolute;
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-size: 40px;
        top: 77%;
        left: 26%;
        color: #FF8700;
    }







    /*  FOOTER STYLE*/

footer {
    background-color: #031A62;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    color:aliceblue;
    margin-top: 150px;
    
}

#upper-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer-big-text {
    width: 30%;
    margin: 0 50px;
}


#footer-column-links {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    text-decoration: none;
    width: 70%;
    justify-content: space-around;
}
.footer-link-columns {
    color: aliceblue;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.footer-link-columns a{
    color: aliceblue;
    text-decoration: none;
   
}

#lower-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#lower-footer div {
    margin: 20px 50px;

    /* align-items: flex-end; */
}
#footer-icons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-end;
}
#footer-icons a img {
    width: 40px;
    height: auto;
}

#top-page-button {
    display: flex;
    align-items: flex-end;
}

#copyright-information {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}


#footer-big-text img {
    width: 40%;
    height: auto;
    margin-left: 50px;
}

.footer-link-columns h3 {
    color: #FF8700;
}

.footer-link-columns a:hover {
    color: #FF8700;
}