@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    
    font-family: 'Montserrat';
    margin: auto;
    /* padding: auto; */
    /* background-color: #031b626e; */
    
}


  

  main {
    width: 80%;
    margin: auto;
  }


  main h1{
    color: #031A62
  }

  main h1:hover{
    color: #FF8700
  }


  #novosti-link {
    text-decoration: none;
  }

  .image-row {
    display: flex;
  }

  
  .image-container {
    margin: 25px;
    text-align: center;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }

 
  .image-container h1 {
    margin-top: 10%;
    font-size: 40px;
    text-align: start;
    padding: 8px;

  }
  
  .image-container p {
    font-size: 30px;
    color: #888;
    text-align:start ;
    padding: 8px;
  } 

  .container {
    position: relative;
    width: 400px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    margin: 0 auto;
    overflow: hidden;
}

/* Style for the larger image */
.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* Style for the smaller image (PiP) */
.pip {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    width: 100px; /* Adjust as needed */
    height: auto;
    z-index: 2;
    border: 2px solid #fff; /* Optional: Add a border */
}








/* TOP NAV BAR STYLE */
header {
  /* gap: 0; */
  display: flex;
  flex-direction: column;
  gap: 0;
}

nav {
  width: 100%;
  height: 130px;
  background-color: #031A62;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
}

#logo-section{
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-image{
  margin-right:30px;
}


#main-page-navbar-upper-row-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;

}


#main-page-navbar-upper-row-links a{
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 30px;
}

#main-nav-second-row{
  height: 60%;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
#main-nav-logo-section{
  width: 30%;
  max-height: 46px;
  display: flex;
  justify-content: center;
  /* border-right: medium, solid, #00A3FF; */
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #00A3FF;
}

#main-nav-logo{
  margin-right: 15px;
}

#main-page-navbar-lower-row-links{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}
#lower-links{
  margin-top: 20px;
}

.dropdown a{
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

.dropdown{
  position: relative;
  display: inline-block;
  margin-top: 5px;
  padding: 7px 15px;
  /* background-color: #00A3FF; */
}

.dropdown-content{
position: absolute;
display: none;
min-width: 160px;
}

.dropdown-content a{
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #031A62;
}

.dropdown:hover .dropdown-content{
  display: block;
}

a:hover {
  color: #FF8700;
}

#main-page-navbar-upper-row-links a:hover{
  color: #FF8700;
}



/* BANNER STYLE*/

#hero-banner{
  position: relative;
  top: -75px;
  width: 100%;
  
  
  
}

.bannerImage img {
  width: 100%;
  height: auto;
  filter: brightness(-3)
  }
  
  .bannerImage {
  position: relative;
  width: 100%;
  margin: auto;
  /* background-color: #031A62; */
  /* padding-bottom: 100px; */
  

  }
  
  .bannerImage h1{
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 72px;
  left: 39%;
  top: 67%;
  color: white; 
  }

  .bannerImage h4{
      position: absolute;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 18px;
      top: 65%;
      left: 40%;
      color: white;
  }

  .bannerImage h2{
      position: absolute;
      font-family: "Pacifico", cursive;
      font-weight: 400;
      font-size: 40px;
      top: 77%;
      left: 27%;
      color: #FF8700;
  }







  /*  FOOTER STYLE*/

  footer {
    background-color: #031A62;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    color:aliceblue;
    
}

#upper-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer-big-text {
    width: 30%;
    margin: 0 50px;
}

#footer-column-links {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    text-decoration: none;
    width: 70%;
    justify-content: space-around;
}
.footer-link-columns {
    color: aliceblue;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.footer-link-columns a{
    color: aliceblue;
    text-decoration: none;
   
}

#lower-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#lower-footer div {
    margin: 20px 50px;

    /* align-items: flex-end; */
}
#footer-icons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-end;
}
#footer-icons a img {
    width: 40px;
    height: auto;
}

#top-page-button {
    display: flex;
    align-items: flex-end;
}

#copyright-information {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}


#footer-big-text img {
  width: 40%;
  height: auto;
  margin-left: 50px;
}

.footer-link-columns h3 {
  color: #FF8700;
}

.footer-link-columns a:hover {
  color: #FF8700;
}
