@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


body {
    
  font-family: 'Montserrat';
}

main{
  width: 80%;
  margin:auto;
}


#programi-links{
  margin-top: 50px;
}
#goren-red{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  max-height: 200px;
  margin-bottom: 30px;
}

#dolen-red{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  max-height: 200px;
}

#objasnuvanje{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#objasnuvanje h2{
  font-size: 60px;
  border-bottom: 5px solid #FF8700;
}




.document-responsive-button{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border: 2px solid #031A62;
  border-radius: 40px;
  height: 150px;
  gap: 20px;
}

.document-responsive-button:hover{
  border: 2px solid #FF8700;
}


.document-responsive-button:hover .document-icon{
  background-color: #FF8700;
}
.document-icon{
  padding: 10px;
  background-color: #031A62;
  border-radius: 15px;
}

.document-responsive-button a{
  text-decoration: none;
  color: #031A62;
  font-size: 20px;
}

.document-responsive-button a:hover{
  color: #FF8700;
}

h2{
  color: #031A62;
}

#objasnuvanje button{
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  background-color: #FF8700;
  color: #fff;
  font-size: 18px;
}

#objasnuvanje button:hover{
  background-color:#fab700;
  color:#031A62;
  cursor: pointer;
}

main{
  margin-top: 150px;
}

.red-dokumenti{
  gap: 30px;
  margin-bottom: 70px;
}

.red-dokumenti div{
  background-color:rgb(226, 233, 240);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  align-items: center;
}

.dokumenti a{
  text-decoration: none;
  color: #031A62;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.dokumenti a:hover{
  color: #FF8700;
}

.made-for-gap{
  gap: 40px;
}

#dopolnitelni-dokumenti{
  margin-bottom: 100px;
}


#goren-dopolnitelen-del{
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  justify-content: space-evenly;
}

#dolen-dopolnitelen-del{
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  justify-content: space-evenly;
}


.dopolnitelni-linkovi{
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content:space-around;
  background-color:rgb(226, 233, 240);
  align-items: center;
  border-radius: 30px;;
}


.dolen-del-border-image{
  width: 15%;
}

.dolen-del-border-image img{
  width: 100%;
  height: auto;
}

.dopolnitelni-linkovi .document-responsive-button{
  background-color: rgb(226, 233, 240);
  border: solid 2px #031A62;
}

.dopolnitelni-linkovi .document-responsive-button .document-icon{
  background-color: #031A62;
}

.dopolnitelni-linkovi .document-responsive-button a{
  color: #031A62;
}

.dopolnitelni-linkovi .document-responsive-button:hover{
  border: solid 2px #FF8700;
}

.dopolnitelni-linkovi .document-responsive-button:hover .document-icon{
  background-color: #FF8700;
}

.dopolnitelni-linkovi .document-responsive-button a:hover{
  color: #FF8700;
}





















/* TOP NAV BAR STYLE */


body {
  margin: 0;
  padding: 0;
}


header {
  /* gap: 0; */
  display: flex;
  flex-direction: column;
  gap: 0;
}

nav {
  width: 100%;
  height: 130px;
  background-color: #031A62;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
}

#logo-section{
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-image{
  margin-right:30px;
}


#main-page-navbar-upper-row-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;

}


#main-page-navbar-upper-row-links a{
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
  margin-right: 30px;
}

#main-nav-second-row{
  height: 60%;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
#main-nav-logo-section{
  width: 30%;
  max-height: 46px;
  display: flex;
  justify-content: center;
  /* border-right: medium, solid, #00A3FF; */
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #00A3FF;
}

#main-nav-logo{
  margin-right: 15px;
}

#main-page-navbar-lower-row-links{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}
#lower-links{
  margin-top: 20px;
}

.dropdown a{
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

.dropdown{
  position: relative;
  display: inline-block;
  margin-top: 5px;
  padding: 7px 15px;
  /* background-color: #00A3FF; */
}

.dropdown-content{
position: absolute;
display: none;
min-width: 160px;
}

.dropdown-content a{
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #031A62;
}

.dropdown:hover .dropdown-content{
  display: block;
}

a:hover {
  color: #FF8700;
}

#main-page-navbar-upper-row-links a:hover{
  color: #FF8700;
}



/* BANNER STYLE*/

#hero-banner{
  margin: auto;
  width: 100%;
  position: relative;
  top: -70px;
  
  
}

.bannerImage img {
  width: 100%;
  height: auto;
  filter: brightness(-3)
  }
  
  .bannerImage {
  position: relative;
  width: 100%;
  margin: auto;
  /* background-color: #031A62; */
  /* padding-bottom: 100px; */
  

  }
  
  .bannerImage h1{
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 72px;
  left: 36%;
  top: 67%;
  color: white; 
  }

  .bannerImage h4{
      position: absolute;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 18px;
      top: 65%;
      left: 38.7%;
      color: white;
  }

  .bannerImage h2{
      position: absolute;
      font-family: "Pacifico", cursive;
      font-weight: 400;
      font-size: 40px;
      top: 83%;
      left: 26%;
      color: #FF8700;
  }







  /*  FOOTER STYLE*/

footer {
  background-color: #031A62;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  color:aliceblue;
  margin-top: 150px;
  
}

#upper-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footer-big-text {
  width: 30%;
  margin: 0 50px;
}

#footer-column-links {
  display: flex;
  flex-direction: row;
  color: aliceblue;
  text-decoration: none;
  width: 70%;
  justify-content: space-around;
}
.footer-link-columns {
  color: aliceblue;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.footer-link-columns a{
  color: aliceblue;
  text-decoration: none;
 
}

#lower-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#lower-footer div {
  margin: 20px 50px;

  /* align-items: flex-end; */
}
#footer-icons {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: flex-end;
}
#footer-icons a img {
  width: 40px;
  height: auto;
}

#top-page-button {
  display: flex;
  align-items: flex-end;
}

#copyright-information {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}


#footer-big-text img {
  width: 40%;
  height: auto;
  margin-left: 50px;
}

.footer-link-columns h3 {
  color: #FF8700;
}

.footer-link-columns a:hover {
  color: #FF8700;
}